excel2md.code-workspace
work/
frontend/.env
frontend/.env.bak
frontend/dist/
frontend/node_modules/
lambda/excel2md.zip
assets/icons/
lambda/package/
lambda/package/**/__pycache__/
lambda/package/**/*.pyc
